{% extends 'base.html' %}
{% block mapdiv %}
<div id="map" style="position:absolute;background-color:#FEFEFE;height:650px;width:100%"></div>
{% endblock mapdiv %}
{% block mapspace %}
<div style="height:400px"></div>
{% endblock mapspace %}
{% block precontent %}
<div class="container zero-padding no-bg">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#sample-1a" data-toggle="tab">Por Localizacion</a>
            </li>
            <li class="">
                <a href="#sample-1b" data-toggle="tab">Por Especialidad</a>
            </li>
            <li class="">
                <a href="#sample-1c" data-toggle="tab">Sample Heading 3</a>
            </li>
            <li class="">
                <a href="#sample-1d" data-toggle="tab">Sample Heading 4</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="sample-1a">
                <div class="row">
                    <div class="col-md-12">

                        <form  method="get" action="http://preview.byaviators.com/theme/properta/properties/">


                    <input type="hidden" name="filter-contract" value="RENT">


                                                                                                                                                                                <div class="form-group">

            <input type="text" name="filter-price-from" placeholder="Price from" class="form-control" value="" id="rent_filter_rent_sale_widget-2_price_from">
        </div><!-- /.form-group -->

        <div class="form-group">

            <input type="text" name="filter-price-to" placeholder="Price to" class="form-control" value="" id="rent_filter_rent_sale_widget-2_price_to">
        </div><!-- /.form-group -->
                                                                                    <div class="form-group">

            <input type="text" name="filter-home-area-from" placeholder="Home area from" class="form-control" value="" id="rent_filter_rent_sale_widget-2_home_area_from">
        </div><!-- /.form-group -->

        <div class="form-group">

            <input type="text" name="filter-home-area-to" placeholder="Home area to" class="form-control" value="" id="rent_filter_rent_sale_widget-2_home_area_to">
        </div><!-- /.form-group -->
                                                                                    <div class="form-group">

            <div class="select-wrapper"><select class="form-control" name="filter-location" id="rent_filter_rent_sale_widget-2_location">
                <option value="">
                                        Location							</option>


                                                    <option value="40">New York City</option>


                                                                            <option value="51">
                                    »&nbsp; Brooklyn							</option>


                                                                                                                                                <option value="52">
                                    »&nbsp; Manhattan							</option>


                                                                                                                                                <option value="42">
                                    »&nbsp; Queens							</option>


                                                                                                                                                <option value="46">
                                    »&nbsp; Staten Island							</option>


                                                                                                                                                <option value="48">
                                    »&nbsp; The Bronx							</option>


                                                                                                                                                                            </select></div>
        </div><!-- /.form-group -->
                                                                                    <div class="form-group">

            <div class="select-wrapper"><select class="form-control" name="filter-property-type" id="rent_filter_rent_sale_widget-2_property_type">

                <option value="">
                                        Property type							</option>

                                                    <option value="13">
                            Apartment					</option>


                                                                                                        <option value="19">
                            Building area					</option>


                                                                                                        <option value="24">
                            Condo					</option>


                                                                                                        <option value="34">
                            House					</option>


                                                                                                        <option value="49">
                            Villa					</option>


                                                                                                        </select></div>
        </div><!-- /.form-group -->
                                                                                                                                                                                                                                                                                                                                                                                                            <div class="form-group">

                <div class="select-wrapper"><select name="filter-rooms" id="rent_filter_rent_sale_widget-2-rooms" class="form-control">
                    <option value="">
                                                Rooms: any									</option>

                                        <option value="1">
                            1+
                        </option>
                                        <option value="2">
                            2+
                        </option>
                                        <option value="3">
                            3+
                        </option>
                                        <option value="4">
                            4+
                        </option>
                                        <option value="5">
                            5+
                        </option>
                                </select></div>
            </div><!-- /.form-group -->

                                        <div class="form-group">
                            <button class="btn btn-info">Filter Now!</button>
                        </div><!-- /.form-group -->
                                </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="sample-1b">
                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                    qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                    Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane fade" id="sample-1c">
                <div class="row">
                    <div class="col-md-5">
                        <img src="assets/img/fillers/filler2.jpg" alt="filler image">
                    </div>
                    <div class="col-md-7">
                        <h3 class="no-margin no-padding">Mirum Est Notare</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus
                            dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicas.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane fade" id="sample-1d">
                <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing
                    nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id.</p>
                <ul>
                    <li>Donec eget orci metus</li>
                    <li>Ante ac interdum ullamcorper</li>
                    <li>Vivamus imperdiet condimentum</li>
                    <li>Pellentesque fermentum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock precontent %}
{% block script %}
<script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -16.5291276, lng: -68.1373069},
        zoom: 8
      });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&sensor=false" async defer></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpolel5uCTIXYjmBHxpN8Pr_7BTZNDhNw&callback=initMap&sensor=false" async defer></script>-->
{% endblock script %}